*{
    margin: 0px;
    padding: 0px;
}

.div1{
    width: 100%;
    height: 700px;
    background-color: rgb(161, 161, 222);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.div2{
    width: 300px;
    height: 500px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}
.div2:hover{
    border: 2px solid green;
    box-shadow: 2px 2px 20px green;
}
.img{
    width: 300px;
    height: 300px;
}
.img:hover{
    box-shadow: 2px 2px 15px green;
}
.div3{
    width: 200px;
    height: 50px;
    border: 1px solid rgb(150, 147, 147);
    /* background-color: black; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div3:hover{
background-color: red;
box-shadow: 2px 2px 15px red;
}

.div4{
    width: 300px;
    height: 670px;
    border: 1px solid rgb(95, 241, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div5{
    width: 200px;
    height: 200px;
    background-color: rgb(70, 236, 70);

}

.img1{
    width: 200px;
    height: 150px;
}






















